[Unit]
Description=Enable SAFS address translation
After=local-fs.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'if [[ $(fw_printenv -n safs) != "false" ]] ; then /usr/bin/safs-test -d /dev/aspeed-espi-flash -m /dev/mtd6 ; fi'

[Install]
WantedBy=multi-user.target
