[Unit]
Description=Initialize SCM FPGA Flash
Wants=mapper-wait@-org-openbmc-control-flash-scm-fpga.service
After=mapper-wait@-org-openbmc-control-flash-scm-fpga.service

[Service]
Restart=no
ExecStart=/bin/sh -c "busctl call `mapper get-service /org/openbmc/control/flash/scm_fpga` /org/openbmc/control/flash/scm_fpga org.openbmc.Flash init"
SyslogIdentifier=obmc-flash-scm-fpga-init

[Install]
WantedBy=multi-user.target
