[Unit]
Description=Set all Fan speeds at 30% at boot time
After=dropbearkey.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/set-fan-speed.sh 255

[Install]
WantedBy=multi-user.target
