[Unit]
Description=AMD LCD Display application
After=xyz.openbmc_project.Network.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/amd-lcd-app

[Install]
WantedBy=multi-user.target
