[Unit]
Description=Initialize Retimer Flash
Wants=mapper-wait@-org-openbmc-control-flash-retimer.service
After=mapper-wait@-org-openbmc-control-flash-retimer.service

[Service]
Restart=no
ExecStart=/bin/sh -c "busctl call `mapper get-service /org/openbmc/control/flash/retimer` /org/openbmc/control/flash/retimer org.openbmc.Flash init"
SyslogIdentifier=obmc-flash-retimer-init

[Install]
WantedBy=multi-user.target
