[Unit]
Description=Monitor Soft Fuse done signal

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/soft-fuse-mon.sh

[Install]
WantedBy=multi-user.target
