[Unit]
Description=Set all Fan speeds at 50% at boot time

[Service]
Type=oneshot
After=xyz.openbmc_project.User.Manager.service
RemainAfterExit=no
ExecStart=/usr/sbin/set-fan-speed.sh 0x80

[Install]
WantedBy=multi-user.target
