[Unit]
Description=Initialize VR Flash
Wants=mapper-wait@-org-openbmc-control-flash-vr.service
After=mapper-wait@-org-openbmc-control-flash-vr.service

[Service]
Restart=no
ExecStart=/bin/sh -c "busctl call `mapper get-service /org/openbmc/control/flash/vr` /org/openbmc/control/flash/vr org.openbmc.Flash init"
SyslogIdentifier=obmc-flash-vr-init

[Install]
WantedBy=multi-user.target
