[Unit]
Description=Create Node for SPDM

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/mknod /dev/i2c-slave-backend c 47 0

[Install]
WantedBy=multi-user.target
